/* Do not use ID selector in LWC it will be changed */

.hello-world {
    color: red;
}

.greeting-class {
    color: green;
}

div {
    background: red;
}

:host {
    border: 10px solid yellow;
}
